

<div class="main">
  <div class="container" *ngIf="!messageLoading">
    <div class="row">
      <div class="col-6">
        <input placeholder="Insert number 1" type="number" [(ngModel)]='number1'>
      </div>
      <div class="col-6">
        <input placeholder="Insert number 2" type="number" [(ngModel)]='number2'>
      </div>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" (click)='messageLoading = true; getResult()'>Aceptar</button>
    </div>
  </div>



  <div class="row">
    <div class="col-6">
     Result : {{allPlus}}
    </div>

  </div>


</div>
<div class="container" *ngIf="messageLoading">
  <div class="row">
    <div class="col-6">
      Loading ....................
    </div>
    <div class="col-6">
    Wait a moment ................
    </div>
  </div>
</div>
